:root {
    color-scheme: light;

    --opendxp-lime-100: #E6FF2A;
    --opendxp-lime-200: #D4EB27;
    --opendxp-petrol-100: #0C4B62;
    --opendxp-grey-100: #F6F6F6;
    --opendxp-grey-200: #EDEEEE;
    --opendxp-grey-300: #D3D3D4;
    --opendxp-grey-400: #B2B2B3;
    --opendxp-grey-500: #6E7072;
    --opendxp-grey-600: #464749;
    --opendxp-grey-700: #2D2D2F;
    --opendxp-grey-800: #1E1E1F;
    --opendxp-grey-900: #101011;
    --opendxp-green-100: #E9F5EC;
    --opendxp-green-200: #4ADE80;
    --opendxp-green-300: #10B981;
    --opendxp-red-100: #FBE8E9;
    --opendxp-red-200: #F87171;
    --opendxp-red-300: #EF4444;
    --opendxp-blue-100: #e5edf4;
    --opendxp-blue-200: #7dd3fc;
    --opendxp-blue-300: #3b82f6;
    --opendxp-orange-100: #FF9933;
    --color-white: #fff;
    --color-black: #000;

    --color-neutral-a: light-dark(var(--opendxp-grey-900), var(--opendxp-grey-900));
    --color-neutral-b: light-dark(var(--opendxp-grey-800), var(--opendxp-grey-800));
    --color-neutral-c: light-dark(var(--opendxp-grey-700), var(--opendxp-grey-700));
    --color-neutral-d: light-dark(var(--opendxp-grey-600), var(--opendxp-grey-600));
    --color-neutral-e: light-dark(var(--opendxp-grey-500), var(--opendxp-grey-500));
    --color-neutral-f: light-dark(var(--opendxp-grey-400), var(--opendxp-grey-400));
    --color-neutral-g: light-dark(var(--opendxp-grey-300), var(--opendxp-grey-300));
    --color-neutral-h: light-dark(var(--opendxp-grey-200), var(--opendxp-grey-200));
    --color-neutral-i: light-dark(var(--opendxp-grey-100), var(--opendxp-grey-100));

    --color-green-a: light-dark(var(--opendxp-green-300), var(--opendxp-green-300));
    --color-green-b: light-dark(var(--opendxp-green-200), var(--opendxp-green-200));
    --color-green-c: light-dark(var(--opendxp-green-100), var(--opendxp-green-100));
    --color-red-a: light-dark(var(--opendxp-red-300), var(--opendxp-red-300));
    --color-red-b: light-dark(var(--opendxp-red-200), var(--opendxp-red-200));
    --color-red-c: light-dark(var(--opendxp-red-100), var(--opendxp-red-100));
    --color-blue-a: light-dark(var(--opendxp-blue-300), var(--opendxp-blue-300));
    --color-blue-b: light-dark(var(--opendxp-blue-200), var(--opendxp-blue-200));
    --color-blue-c: light-dark(var(--opendxp-blue-100), var(--opendxp-blue-100));
    --color-orange-a: light-dark(var(--opendxp-orange-100), var(--opendxp-orange-100));
    --color-primary-a: light-dark(var(--opendxp-lime-100), var(--opendxp-lime-100));
    --color-primary-b: light-dark(var(--opendxp-petrol-100), var(--opendxp-petrol-100));
}

[data-theme="light"] {
    color-scheme: light;

    --color-neutral-a: var(--opendxp-grey-900);
    --color-neutral-b: var(--opendxp-grey-800);
    --color-neutral-c: var(--opendxp-grey-700);
    --color-neutral-d: var(--opendxp-grey-600);
    --color-neutral-e: var(--opendxp-grey-500);
    --color-neutral-f: var(--opendxp-grey-400);
    --color-neutral-g: var(--opendxp-grey-300);
    --color-neutral-h: var(--opendxp-grey-200);
    --color-neutral-i: var(--opendxp-grey-100);
    --color-green-a: var(--opendxp-green-300);
    --color-green-b: var(--opendxp-green-200);
    --color-green-c: var(--opendxp-green-100);
    --color-red-a: var(--opendxp-red-300);
    --color-red-b: var(--opendxp-red-200);
    --color-red-c: var(--opendxp-red-100);
    --color-primary-a: var(--opendxp-petrol-100);
    --color-primary-b: var(--opendxp-lime-100);
}

[data-theme="dark"] {
    color-scheme: dark;

    --color-neutral-a: var(--opendxp-grey-900);
    --color-neutral-b: var(--opendxp-grey-800);
    --color-neutral-c: var(--opendxp-grey-700);
    --color-neutral-d: var(--opendxp-grey-600);
    --color-neutral-e: var(--opendxp-grey-500);
    --color-neutral-f: var(--opendxp-grey-400);
    --color-neutral-g: var(--opendxp-grey-300);
    --color-neutral-h: var(--opendxp-grey-200);
    --color-neutral-i: var(--opendxp-grey-100);
    --color-green-a: var(--opendxp-green-300);
    --color-green-b: var(--opendxp-green-200);
    --color-green-c: var(--opendxp-green-100);
    --color-red-a: var(--opendxp-red-300);
    --color-red-b: var(--opendxp-red-200);
    --color-red-c: var(--opendxp-red-100);
    --color-primary-a: var(--opendxp-petrol-100);
    --color-primary-b: var(--opendxp-lime-100);
}
